*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-size: 62.5%; /* un rem a 10 pixeles */
    font-family: Arial, Helvetica, sans-serif;
}
   

body{
    background-color: #eee;
}

header{
    padding: 10px 5px ;
    width: 100%;
    background-color: black;
    
    

    
    .navbar{
        padding:0;
        background-color: black;
        
        
        .navbar-brand{
            img{
                border-radius: 15px;
            }
        }

        .navbar-collapse{
            height: 5rem;
            display: flex;
            justify-content: space-evenly;

            .navbar-nav{
                width: 80%;
                height: 5rem;
                display: flex;
                align-items: center;
                justify-content: space-evenly;

                .nav-link{
                    color: white;
                    font-size:medium;
                    height: 5rem;
                    width: 20%;
                    padding: 0;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    border-radius: 15px;

                    &:hover{
                        background-color:rgba(255, 0, 0, 0.883);
                        transform: scale(1.1);
                        transition:all 0.5s;
                    }

                }
            }
        
        }

        .d-flex{
            
            .form-control{
                width: 65rem;
                border-radius:15px;
            }

            .boton{
                color: white;
                background-color: red;
                
            }
        }

    }
}


